@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500&display=swap');

:root{
    --vermelho: #ab1725;
    --preto: #0f1c2d;
    --cinza: #a59292;
    --transicao: all 0.3s linear;
}
body{
    font-family: 'Saira Condensed', sans-serif;
}

a{
    margin: 0 1rem 0 1rem; 
}
#aaa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}